.todoListContainer {
  height: 80vh;
  width: 60vh;
  border: 2px #b19cd9 solid;
  border-radius: 10px;
  padding: 2em;
  overflow: auto;

  div {
    padding: none;
  }

  .todoListHeader {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 2em;
    border-bottom: 2px #b19cd9 solid;

    h2 {
      margin: 0;
    }
  }

  .todoListButton {
    height: 4em;
    width: 20em;

    color: white;
    background-color: #8565c4;

    border: 4px #b19cd9 solid;
    border-radius: 10px;

    &:hover, :focus {
      background-color: #b19cd9;
    }
  }

  .todoListLoading {
    text-align: center;

    margin: 2em 0;
  }

  .todoListError {
    color: red;
    font-weight: 600;
  }
}